aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
pyrogram
hachoir
lyricsgenius
pytgcalls==0.0.1b1
wget
python-dotenv
youtube-search-python
youtube-search
speedtest-cli
motor
psutil
requests
rich
dnspython
yt-dlp==2021.11.10.1
tgcrypto
gitpython
heroku3
